* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border-bottom: black 8px;
    border-style: solid;
    padding: 4px;
    background-color: rgb(83, 218, 228);
    text-align: right;
}

li {
    display: inline;
    word-spacing: 5px;
}